{
	"token": "",
	"clientId": "",
	"google-sheet-id": "1WinMvGxS65707Uh2C0-VmDwXVTdav-DEI29j4OyJWXw",
	"approved-maintainers": [
		"202732983910793217"
	],
	"activity-channel-id": "",
	"error-channel-id": "",
	"rate-limiter": {
		"limit": 10,
		"window-milliseconds": 60000
	}
}
